<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhenhui.demo.falcon.service.mybatis.mapper.DeviceMapper">
    <resultMap id="deviceMap" type="com.zhenhui.demo.falcon.core.domain.Device">
        <result property="id" javaType="com.zhenhui.demo.falcon.core.domain.UniqueID"
                column="id" jdbcType="VARCHAR"
                typeHandler="com.zhenhui.demo.falcon.service.mybatis.handlers.UniqueIDTypeHandler"/>
        <result property="model" javaType="java.lang.String" column="model" jdbcType="VARCHAR"/>
        <result property="protocol" javaType="java.lang.String" column="protocol" jdbcType="VARCHAR"/>
        <result property="gmtCreate" javaType="java.util.Date" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtUpdate" javaType="java.util.Date" column="gmt_update" jdbcType="TIMESTAMP"/>
        <result property="attributes" javaType="com.zhenhui.demo.falcon.core.domain.Attributes"
                column="attributes" jdbcType="VARCHAR"
                typeHandler="com.zhenhui.demo.falcon.service.mybatis.handlers.MapTypeHandler"/>
    </resultMap>

    <select id="selectById" resultMap="deviceMap">
        select *
        from devices
        where id = #{deviceId}
        limit 1
    </select>

    <insert id="insert" parameterType="com.zhenhui.demo.falcon.core.domain.Device">
        insert into devices (
            id,
            protocol,
            model,
            gmt_create,
            gmt_update,
            attributes
        ) values (
            #{id},
            #{protocol},
            #{model},
            #{gmtCreate},
            #{gmtUpdate},
            #{attributes}
        );
    </insert>

    <update id="updateAttributes">
        update devices set attributes = #{attributes} where id = #{deviceId} and gmt_update = #{lastGmtUpdate}
    </update>

</mapper>
