<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhenhui.demo.falcon.service.mybatis.mapper.DeviceMapper">
    <resultMap id="deviceMap" type="com.zhenhui.demo.falcon.core.domain.Device">
        <result property="id" javaType="com.zhenhui.demo.falcon.core.domain.UniqueID"
                column="id" jdbcType="VARCHAR"
                typeHandler="com.zhenhui.demo.falcon.service.mybatis.typehandler.UniqueIDTypeHandler"/>
        <result property="protocol" javaType="java.lang.String" column="protocol" jdbcType="VARCHAR"/>
        <result property="model" javaType="java.lang.String" column="model" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectById" resultMap="deviceMap">
        select * from devices where id = #{deviceId} limit 1
    </select>

</mapper>
