<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhenhui.demo.falcon.service.mybatis.mapper.ModelMapper">
    <resultMap id="modelMap" type="com.zhenhui.demo.falcon.core.domain.Model">
        <result property="model" javaType="java.lang.String" column="model" jdbcType="VARCHAR"/>
        <result property="protocol" javaType="java.lang.String" column="protocol" jdbcType="VARCHAR"/>
        <result property="supportedCommands" javaType="List"
                column="supported_commands" jdbcType="VARCHAR"
                typeHandler="com.zhenhui.demo.falcon.service.mybatis.typehandler.CommandTypeListTypeHandler"/>
    </resultMap>

    <select id="selectByName" resultMap="modelMap">
        select *
        from models
        where model = #{model}
        limit 1
    </select>

</mapper>

